ssh.private-key-name="ssh/id_rsa"
ssh.public-key-name="ssh/id_rsa.pub"
ssh.passphrase=""
ssh.known-hosts-file="ssh/known_hosts"
git.user.name="User Name"
git.user.email="user@example.com"
git.owner="username"
git.repo="example"
git.base="master"
git.onto="staging"
github.token="f67117bd8569e3a6a0f946e900baf0979629e72c"
